@font-face {
    font-family: 'ClashGrotesk';
    src: url('fonts/ClashGrotesk-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
}
body{
    font-family: montserrat;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    padding-top: 70px;
    min-height: 100vh;
}

#header{
    padding-top: 0;
    height: fit-content;
}
.nav-bar{
    position: fixed;
    height: 50px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgb(255, 255, 255);
}
.logo{
    width: 40px;
    margin-left: 40px;
}
.logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.logo-container a{
    text-transform: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 40px;
    
}
.menu li{
    margin: 0px 20px;
}
.mobileMenu{
    height: 100vh;
    background-color: #a1c349;
    width: 50%;
    padding: 0px;
    padding-top: 50px;
    display: none;
    box-shadow: 2px 2px 10px rgb(33, 33, 33);
}
.menuButtonClass{
    margin: 12px 20px;
    display: none;
}
.menuButtonClass button{
    background-color: #424b2a;
    border: none;
    padding: 5px 10px ;
    color: white;
}
.menuButtonClass button i{
    font-size: 20px;
}
ul{
    padding: 0;
    margin: 0;
}
.mobileMenu li{
    height: 40px;
    border-bottom: 2px solid #a1c349;
    list-style-type: none;
    padding: 10px 20px;
}
.cancelClass{
    display: flex;
    width: 100%;
    justify-content: end;
    
}
.cancelClass button{
    margin: 0px 30px;
    background-color: #a1c349;
    border: none;
}
.cancelClass i{
    color: white;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 12px;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(255, 255, 255);
}
.menu a:hover{
    font-weight: bold;
    color: #a1c349;
}
.menu .active{
    color: #a1c349;
}

.container{
    padding: 0px 100px;
    display: flex;
    /* flex-wrap: wrap; */
    
}
.left{
    width: 50%;
    padding-top: 200px;
    
}
.left h4{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.left h1{
    font-family: 'ClashGrotesk',sans-serif;
    font-weight: bold;
    font-size: 70px;
    margin: 0;
    padding: 0;
}
.left p{
    width: 80%;
}
.right-image{
    margin-top: 70px;
    width: 100%;
}
@keyframes verticalMove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.arrow-house{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    animation: verticalMove 1s infinite;
}

.arrow-house .arrow-border{
    border: 1px solid #a1c349;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.container .section-header{
    width: 25vw;
}
.container .section-content{
    width: 75vw;
}

.card-container{
    background-color: rgb(92, 92, 92);
    height: 120px;
    display: flex;
    align-items: end;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 140px;
    margin-right: 20px;

}

.section-header h3, p{
    padding: 0;
    margin: 0;
}
.color-group{
    display: flex;
    flex-wrap: wrap;
}

.color-section h1{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.card-container p{
    margin: 0;
    padding: 0;
    
}
.typeface h1{
    font-family: 'ClashGrotesk',sans-serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.typeface p{
    width: 50vw;
}
.headingText{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: start;
    width: 800px;
    border-bottom: 1px solid rgb(142, 142, 142);
}

.headOne{
    font-family: 'ClashGrotesk',sans-serif;
    font-weight: bold;
    font-size: 44px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
}
.headTwo{
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.headThree{
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.headFour{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.bodyText{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.endText{
    width: 150px;
    padding-top: 10px;
}

.mobileTablet{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}
.gridClass{
    width: 100%;
    
}
.outerBox{
    align-items: center ;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #cedfa4;
}
.innerBox{
background-color: #a1c349;
height: inherit;
width: inherit;
margin: 0px 10px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.tableContainer{
    overflow-x: auto;
}
table{
    table-layout: auto;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
    border-collapse: collapse; /* Add this line */
    background-color: rgb(252, 252, 252);
    margin-bottom: 20px;
}
thead tr th{
    text-align: left;
    padding: 10px;
}
thead tr{
    height: 50px;
    background-color: #e4e4e4;
    border-bottom: 1px solid #6c6c6c;
}

thead{
    background-color: #b9b9b9;
}
tbody tr td{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #b7b7b7;
}
tbody tr {
    text-align: left;
    padding: 10px;
}
#dataViz img{
    width: 100%;
}
.button-container {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.button-container button {
    border: none;
    height: 40px;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    
}
/* primary button*/
.primary {
    background-color: #a1c349;
    color: white;
    cursor: pointer;
}
.primary:hover {
    background-color: #84a03c;
    color: white;
    box-shadow: 0px 0px 8px 0px #a0a0a0;
}

/* secondary button*/
.secondary {
    background-color: #333333;
    color: white;
    cursor: pointer;
}
.secondary:hover {
    background-color: #222222;
    color: white;
    box-shadow: 0px 0px 8px 0px #a0a0a0;
}

/* tertiary button*/
.tertiary {
    background-color: #5a9bd4;
    color: #333333;
    cursor: pointer;
}
.tertiary:hover {
    background-color: #4d85b6;
    color: white;
    box-shadow: 0px 0px 8px 0px #a0a0a0;
}

/* disabled button*/
.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed; 
}
pre{
    margin: 0px 20px !important;
    padding: 0 !important;
    overflow: hidden;
    font-size: 20px;
    white-space: pre-line;
    line-height: 25px;
}
.codeFormat{
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #c5c5c5;
}
.codeFormat p{
    width: auto;
    background: linear-gradient(to bottom, #dfdfdf, #c8c8c8);
    margin: 0;
    padding: 20px;
}
.button-container {
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

.dropdown-button {
    display: flex;
    align-items: center;
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
}

.dropdown-button i {
    margin-left: 8px; /* Adjust the spacing between the text and the icon */

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #3e8e41;
}

/* select input */
.custom-dropdown {
    width: 200px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: #eaeaea;
    border-radius: 2px;
  }
  
  .dropdown-icon {
    margin-left: 8px;
    color: #666;
    transition: transform 0.3s;
  }
  
  .options {
    margin-top: 10px;
    display: none;
    /* position: absolute; */
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 2px 2px 10px rgb(137, 137, 137);
  }
  
  .option {
    display: flex;
    padding: 8px 12px;
    margin: 10px 0px;
  }
  .option img{
    width: 15%;
    margin-right: 10px;
  }
  
  
  .option:hover {
    background-color: #ddd;
  }
  .fa-circle{
    color: #a1c349;
    font-size: 5px;
    text-align: center;
    /* padding-bottom: 10px; */
    
  }

  input{
    width: 200px;
    border: none;
    background-color: #dfdfdf;
    height: 30px;
    padding: 5px 10px;
  }
  input:focus{
    outline: none;
    background-color: #ededed;
  }
  label{
    font-size: 14px;
    display: block;
    padding: 10px 0px;
    font-weight: bold;
    /* font-weight: bold; */
  }
  .InputWithBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
  }
  .InputWithBtn button{
    height: 40px;
    border: none;
    background-color: #dfdfdf;
  }
  #validationInput{
    border: 1px solid red;
  }
  hr{
    margin: 10px 100px;
  }
  /* Rotate icon when dropdown is active */
  .custom-dropdown.active .dropdown-icon {
    transform: rotate(180deg);
  }
  /* feedback section */
  .feedbackCard{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    background-color: #f0f0f0;
    border-radius: 2px;
    margin-bottom: 20px;
  }
  .feedbackIcon{
    width: 30px;
    font-size: 25px;
    margin: 0px 20px;
  }
  .feebackText .head{
    font-weight: bold;
  }
  #tableSection .tableContainer thead tr{
    background-color: #a1c349;
  }
  #tableSection .tableContainer tbody tr{
    background-color: #dde4ce;
  }
  .card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 25px;
    background-color: #D8E8FA;
    box-shadow: 0px 0px 10px 0px #b1bbc7;
  }
  .cardHeadText{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .imageContainer{
    width: 50%;
  }
  .status{
    width: 80%
  }
  .imageContainer img{
    border-radius: 20px;
    margin: 10px;
  }
  .cardHeader{
    width: 45%;
    padding: 30px 20px;
  }
  .cardHeader button{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    outline: none;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #a1c349;
  }
#footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    min-height: 50px;
    display: flex; /* Display items in a row */
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

.footer-content {
    display: flex;
    justify-content: space-between; /* Space out the content evenly */
    align-items: center; /* Center align items vertically */
    flex-wrap: wrap; /* Wrap content on smaller screens */
    max-width: 1200px; /* Maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    padding: 0 20px; /* Padding for left and right */
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-right: 50px; /* Center align logo and text vertically */
}
.miniCardContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.miniCard{
    border-radius: 20px;
    height: 300px;
    width: 30%;
    display: flex;
    flex-direction: horizontal;
    align-items: end;
    
    background-size: cover;
    color: white;
}
.miniCard button{
    background-color: #a1c349;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    width: 120px;
    box-shadow: 0px 0px 10px 0px #777575;
}
.miniCard button:hover{
    box-shadow: 0px 0px 10px 0px #53691c;
}



.miniCard .bottomText {
    
    padding: 20px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(22, 23, 21, 0.381), rgba(0, 0, 0, 0)); 
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.8; /* Reduce overall opacity */
    z-index: 1;
}

.navBar {
    width: 100%;
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    padding: 10px 0; /* Padding for top and bottom */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.navBar ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display items in a row */
    justify-content: end; /* Center the list items */
}

.navBar ul li {
    margin: 0 20px; /* Space between list items */
}

.navBar ul li a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline from links */
    font-size: 0.8em; /* Increase font size */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.navBar ul li a:hover {
    color: #a1c349; /* Light gray color on hover */
    font-weight: bold; /* Bold text on hover */
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {
    .navBar ul {
        flex-direction: column; /* Stack list items vertically */
        text-align: center; /* Center align text */
    }

    .navBar ul li {
        margin: 10px 0; /* Space between list items */
    }
}
.miniCard h4{
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.footer-logo img {
    height: 50px; /* Set a fixed height for the logo */
    margin-right: 10px; /* Space between logo and text */
}

.footer-links ul,
.footer-socials ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display items in a row */
}

.footer-links li,
.footer-socials li {
    margin-right: 20px; /* Space between list items */
}

.footer-links a,
.footer-socials a {
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.footer-links a:hover,
.footer-socials a:hover {
    color: #ccc; /* Light gray color on hover */
}


.footer-socials i {
    font-size: 20px; /* Set a fixed size for social icons */
}
 /* breakpoint mobile */
    @media only screen and (max-width: 600px) {
        body,html{
            margin: 0;
            padding: 0 !important;
            box-sizing: border-box;
        }
        section{
            width: 100%;
            max-width: 100vw;
            padding: 0;
            padding: 20px;
        }
        .container {
            width: 100%;
            max-width: 100vw;
            padding: 0;
        }
        .left{
            width: 100%;
            padding-top: 100px;
        }
        .right-image{
            margin-top: 50px;
            width: 100%;
        }
        .menu{
            display: none;
        }
        #colors h1{
            font-size: 20px;
        }
        form{
            width: 100vw;
        }
        label{
            font-size: 20px;
        }
        .InputWithBtn{
            width: 100vw;
        }
        input{
            box-sizing: border-box;
            width: 100vw;
            height: 50px;
        }
        .InputWithBtn button{
            height: 50px;
            width: 25%;
            background-color: #9c9c9c;
        }
        .mobileMenu{
            display: none;
        }
        .left p{
            width: 100vw;
        }
        .cardContainer{
            width: 100vw;
            margin: 0;
            padding: 0;
        }
        .miniCardContainer{
            margin: 0;
            padding: 0;
            flex-direction: column;
            gap: 20px;
        }
        .miniCard{
            width: 100%;
            margin: o;
            padding: 0;
        }

        section{
            padding-top: 70px;
            min-height: 70vh;
        }
        .arrow-house{
            display: none;
        }
        .container .section-header{
            width: 100vw;
            margin-bottom: 20px;
        }
        #colors h3{
            font-size: 30px;
        } 
        .mobileTablet{
            
            display: flex;
            flex-direction: column;
        }
        .container{
            flex-wrap: wrap;
            width: 100vw;  
        }
        #dataViz p{
            width: 100vw;
        }
        .mobile{
            width: 100%;
        }
        .tablet{
            width: 100%;
        }
        .headingText{
            width: 100%;
        }
        .section-header{
            width: 100%;
        }
        .container .section-content{
            width: 100vw;

        }
        .section-content{
            max-width: 100vw !important;
        }
        .gridClass .outerBox{
            width: 100%;
        }
        .gridSystem{
            width: 100%;
        }
        .button-container{
            display: flex;
            flex-direction: column;
        }
        .button-container button{
            width: 100%;
            margin-bottom: 10px;
        }
        .dropdown-content{
            font-size: 12px;
        }
        .custom-dropdown {
            width: 100%;
        }
        .selected-option {
            padding: 8px 12px;
        }
        .headingText{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .endText{
            width: 10%;
        }
        .options {
            width: 100%;
        }
        .selected-option{
            height: 50px;
        }
        .codeFormat{
            width: 100vw;
        }
        .option img{
            width: 20%;
        }
        hr{
            margin: 10px 0px;
        }
        .option{
            padding: 8px 12px;
        }
        .endText{
            width: 100%;
        }
        .card-container{
            width: 35vw;
        }


        .color-section h1{
            margin-bottom: 0;
        }
        .typeface p{
            width: 100%;
        }
        .typeface h1{
            font-size: 50px;
            line-height: 50px;
        }
        .typeface p{
            width: 100%;
        }
        .headOne{
            font-size: 30px;
            width: 50%;
        }
        .headTwo{
            font-size: 24px;
            width: 50%;
            
        }
        .headThree{
            font-size: 20px;
            width: 50%;
        }
        .headFour{
            font-size: 16px;
            width: 50%;
        }
        .bodyText{
            width: 50%;
        }
        .endText{
            width: 60%;
        }
        .endText{
            font-size: 16px;
        }
        .menuButtonClass{
            display: flex;
        }
        .mobileMenu{
            display: none;
        }
        .card {
            flex-direction: column; /* Stack items vertically */
            margin: 0;
            padding: 0;
        }
        .cardHeader {
            width: auto;
        }
        .imageContainer{
            width: 100%;
            margin: 0px;
        }
        .imageContainer img{
            width: 100%;
            margin: 0px;
        }
        #footer{
            
        }
        .footer-content {
            flex-direction: column; /* Stack items vertically */
            align-items: flex-start; /* Align items to the start */
            margin: 0;
        }
    
        .footer-logo {
            margin-bottom: 20px; /* Add space below the logo */
        }
    
        .footer-links ul {
            flex-direction: column; /* Stack list items vertically */
        }
        .footer-socials ul {
            margin-top: 20px;
            flex-direction: row;
            width: 50%; /* Display social icons in a row */
        }
    
        .footer-links li,
        .footer-socials li {
            margin-right: 10px; /* Remove right margin */
            margin-bottom: 10px; /* Add bottom margin */
        }
    
        .footer-links li:last-child,
        .footer-socials li:last-child {
            margin-bottom: 0; /* Remove bottom margin for the last item */
        }
            
    }



